---
---

<footer
  class="py-4 text-center font-light text-white/60 border-t border-white/20 mt-20"
>
  <p>
    Code available on <a
      href="https://github.com/rodgetech/rodgetech.com"
      target="_blank">GitHub</a
    >
  </p>
  <p>&copy; Luis Rodriguez</p>
</footer>
