---
---

<hr class="border-t-2 border-neutral-800 mt-24" />

<footer class="pt-4 pb-8 text-center">
  <p class="text-neutral-400">Thanks for stopping by - Luis Rodriguez</p>
  <p class="text-sm tracking-wide text-white">Going where coding takes me</p>
</footer>
