<header class="mb-12">
  <div
    class="max-w-5xl m-auto px-4 py-8 flex justify-center items-center gap-6"
  >
    <div>
      <ul class="flex space-x-6 text-white text-lg">
        <li class="hover:underline cursor-pointer">
          <a href="https://github.com/rodgetech" target="_blank">GitHub</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://twitter.com/rodgetech" target="_blank">Twitter</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://www.linkedin.com/in/rodriglu/" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="mailto:rodgetech@gmail.com">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex-1 hidden md:block">
      <img
        src="/logo.png"
        alt="logo"
        class="border border-black h-14 ml-auto rounded-lg w-14"
      />
    </div>
  </div>
</header>
