<header class="py-4 mb-12">
  <h1 class="text-white text-xl font-bold"><a href="/">rodgeTech</a></h1>
  <ul class="flex space-x-6 text-rose-400 mt-4">
    <li class="hover:underline cursor-pointer underline">
      <a href="/">Home</a>
    </li>
    <li class="hover:underline cursor-pointer">
      <a href="https://github.com/rodgetech" target="_blank">GitHub</a>
    </li>
    <li class="hover:underline cursor-pointer">
      <a href="https://twitter.com/rodgetech" target="_blank">Twitter</a>
    </li>
    <li class="hover:underline cursor-pointer">
      <a href="mailto:rodgetech@gmail.com">Contact</a>
    </li>
  </ul>
</header>
