<header class="mb-12">
  <div class="max-w-4xl m-auto px-4 py-4 md:flex items-center gap-6">
    <div class="flex items-center flex-1 mb-5 md:mb-0">
      <h1
        class="text-neutral-300 text-2xl font-bold tracking-wide mb-3 md:mb-0"
      >
        <a href="/">rodgeTech</a>
      </h1>
      <img
        src="/logo.png"
        alt="logo"
        class="border border-black h-12 rounded-lg w-12 md:hidden block ml-auto"
      />
    </div>
    <div>
      <ul class="flex space-x-6 text-white md:text-xl text-lg">
        <li class="hover:underline cursor-pointer">
          <a href="https://github.com/rodgetech" target="_blank">GitHub</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://twitter.com/rodgetech" target="_blank">Twitter</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://www.linkedin.com/in/rodriglu/" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="mailto:rodgetech@gmail.com">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex-1 hidden md:block">
      <img
        src="/logo.png"
        alt="logo"
        class="border border-black h-14 ml-auto rounded-lg w-14"
      />
    </div>
  </div>
</header>
